body {
    background-color: #baffc9;
}
.h1Recherche {
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
}

.h2Recherche {
    font-size: 18px;
    text-align: center;
    margin-top: 30px;
}

.inputRecherche {
    width: 90%;
}

.divRecherche {
    display: flex;
    justify-content: center;
}

.divTrajet {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.inputTrajet {
    width: 90%;
    margin-top: 10px;
}

.divButton {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}


.containerCards {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
}

.Card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 30px;
    margin-top: 40px;
    border: solid;
    border-color: lightblue;
    background-color: #bae1ff;
}

.fa-leaf {
    color: green;
}